body {
  margin: 0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

* {
  box-sizing: border-box;
}